<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{- partial "script.html" . -}} {{- partial "styles.html" . -}} {{- if eq
  .Type "resume" -}} {{- partial "resume-styles.html" . -}} {{- end -}} {{-
  partial "seo.html" . -}} {{/* Optimized favicon - SVG first (smallest), then
  PNG fallback, then ICO */}} {{ if (fileExists "static/favicon.svg") }}
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="/favicon.svg" />
  {{ else if (fileExists "static/favicon.png") }}
  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="apple-touch-icon" href="/favicon.png" />
  {{ else if (fileExists "static/favicon.ico") }}
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  {{ end }}

  <meta name="format-detection" content="telephone=no" />

  {{- partial "head-custom.html" . -}}
</head>
