{{- $path := .Get 0 | default (.Get "path") -}}
{{- $class := .Get "class" -}}
{{- $svg := "" -}}
{{- $found := false -}}

{{- if not $path -}}
  {{- errorf "inline-svg shortcode: no path specified" -}}
{{- end -}}

{{- with .Page.Resources.GetMatch $path -}}
  {{- $svg = .Content -}}
  {{- $found = true -}}
{{- end -}}

{{- if not $found -}}
  {{- with resources.Get $path -}}
    {{- $svg = .Content -}}
    {{- $found = true -}}
  {{- end -}}
{{- end -}}

{{- if not $found -}}
  {{- $staticPath := strings.TrimPrefix "/" $path -}}
  {{- if fileExists (printf "static/%s" $staticPath) -}}
    {{- $svg = readFile (printf "static/%s" $staticPath) -}}
    {{- $found = true -}}
  {{- end -}}
{{- end -}}

{{- if not $found -}}
  {{- errorf "inline-svg shortcode: SVG file not found: %s" $path -}}
{{- end -}}

{{- if $class -}}
  {{- $hasClass := findRE `<svg[^>]*\sclass=` $svg 1 -}}
  {{- if $hasClass -}}
    {{- $svg = replaceRE `(<svg[^>]*\sclass=")([^"]*)(")` (printf `${1}${2} %s${3}` $class) $svg 1 -}}
  {{- else -}}
    {{- $svg = replaceRE `(<svg)([^>]*)(>)` (printf `${1} class="%s"${2}${3}` $class) $svg 1 -}}
  {{- end -}}
{{- end -}}

{{ $svg | safeHTML }}
