{{- /* Alias for inline-svg shortcode - same functionality, shorter name */ -}}
{{- $path := .Get 0 | default (.Get "path") -}} {{- $class := .Get "class" -}}
{{- $svg := "" -}} {{- $found := false -}} {{- if $path -}} {{- /* Try page
resources first (files in same directory as content) */ -}} {{- with
.Page.Resources.GetMatch $path -}} {{- $svg = .Content -}} {{- $found = true -}}
{{- end -}} {{- /* Try assets directory */ -}} {{- if not $found -}} {{- with
resources.Get $path -}} {{- $svg = .Content -}} {{- $found = true -}} {{- end
-}} {{- end -}} {{- /* Try static directory */ -}} {{- if not $found -}} {{-
$staticPath := $path -}} {{- /* Remove leading slash if present */ -}} {{-
$staticPath = strings.TrimPrefix "/" $staticPath -}} {{- if fileExists (printf
"static/%s" $staticPath) -}} {{- $svg = readFile (printf "static/%s"
$staticPath) -}} {{- $found = true -}} {{- end -}} {{- end -}} {{- if $found -}}
{{- /* Add or modify class attribute if specified */ -}} {{- if $class -}} {{-
/* Check if class attribute already exists */ -}} {{- $hasClass := findRE
`<svg[^
  >]*\sclass=` $svg 1 -}} {{- if $hasClass -}} {{- /* Append to existing class
  */ -}} {{- $svg = replaceRE `(<svg[^
    >]*\sclass=")([^"]*)(")` (printf `${1}${2} %s${3}` $class) $svg 1 -}} {{-
    else -}} {{- /* Add class attribute to svg tag */ -}} {{- $svg = replaceRE
    `(<svg)([^
      >]*)(>)` (printf `${1} class="%s"${2}${3}` $class) $svg 1 -}} {{- end -}}
      {{- end -}} {{- $svg | safeHTML -}} {{- else -}} {{- errorf "svg
      shortcode: SVG file not found: %s (searched in page resources, assets/,
      and static/)" $path -}} {{- end -}} {{- else -}} {{- errorf "svg
      shortcode: no path specified" -}} {{- end -}}
    </svg)([^></svg[^
  ></svg[^
>
